doctype html
html(ng-app='basicMEAN')
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js")

    link(rel="stylesheet" href="/libraries/font-awesome-4.7.0/css/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

  body
    div(ng-include="'/partials/navbar/navbar'")

    block content

    script(src="/config.js")
    script(src="services/Settings.service.js")
    script(src="services/Search.service.js")
    script(src="navbar/NavbarCtrl.js")
    script(src="view1/View1Ctrl.js")
    script(src="view2/View2Ctrl.js")
    script(src="view-search/ViewSearchCtrl.js")
    script(src="view-protected/ViewProtectedCtrl.js")
