<div class="ldiView">
	<h4 class="ldiViewHead" id="divHead_{{idPostfix}}">Heading {{idPostFix}}</h4>
	<p class="ldiViewPara" id="divPara1_{{idPostfix}}">Info 1</p>
	<p class="ldiViewPara" id="divPara2_{{idPostfix}}">Info 2</p>
</div>
